/* temas */
.darkTheme {
    --fundo: #222;
}
.lightTheme {
    --fundo: whitesmoke;
}



/* elementos */

.mainPanel {
    background-color: var(--fundo);
}

[name = "cores"] {
    border: 1px solid gray;
    width: 40%;
    text-align: center;
}

[name = "cor"] {
    border: 1px solid gray;
    width: 40%;
    text-align: center;
}

[name = "pixels"] {
    border: 1px solid gray;
    width: 40%;
    text-align: center;
}

[name = "one pixel" ] {
    background-color: aliceblue;
    border: 1px solid gray;
    width: 40%;
    text-align: center;
}

